<div class="grid place-content-center min-h-[85vh]">
  <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <span class="font-bold text-xl mb-8">{{
      loginMode ? "Login Now" : "Register Now"
    }}</span>
    <div class="input-wrapper">
      <label for="username">username:</label>
      <input
        type="text"
        id="username"
        ngModel
        name="username"
        required
        #username="ngModel"
        [ngClass]="{ 'border-red-500': username.invalid && username.touched }"
      />
      <div
        *ngIf="username.invalid && username.touched"
        class="text-xs mt-2 text-red-500"
      >
        username is required
      </div>
    </div>
    <div class="input-wrapper">
      <label for="password">password:</label>
      <input
        type="password"
        id="password"
        ngModel
        name="password"
        required
        #password="ngModel"
        minlength="8"
        [ngClass]="{ 'border-red-500': password.invalid && password.touched }"
      />
      <div
        *ngIf="password.invalid && password.touched"
        class="text-xs mt-2 text-red-500"
      >
        passwords should be at least 8 characters
      </div>
    </div>

    <button type="submit" class="bg-primary mt-4" [disabled]="form.invalid">
      {{ loginMode ? "login" : "signup" }}
    </button>
    <span class="text-xs text-textLight mt-4"
      >{{ loginMode ? "already have an account?" : "don't have an account?" }}
      <a class="text-secondary underline" (click)="onSwitchMode()">{{
        loginMode ? "signup" : "login"
      }}</a></span
    >
  </form>
</div>
<!--model for signin-->
<app-modal *ngIf="signupStatus" [isOpen]="true">
  <h3>signup was successful!</h3>
</app-modal>
