<div
  class="bg-white w-80 h-[26rem] p-4 flex flex-col gap-4 relative rounded-md"
>
  <span
    class="absolute bg-secondary px-2 py-[2px] text-white text-xs rounded-full"
    >{{ category }}</span
  >
  <div class="w-44 h-44 m-auto">
    <img
      class="object-contain w-full h-full"
      src="{{ img }}"
      alt="{{ title }}"
    />
  </div>
  <div class="flex flex-col gap-2">
    <h3>{{ title | shorten : 10 }}</h3>
    <div>
      <p class="text-xs">{{ desc | shorten : 15 }}</p>
    </div>
  </div>
  <div class="flex justify-between items-center gap-2">
    <span class="p-2 rounded-md bg-gray-100 text-sm max-w-fit"
      >{{ price }}$</span
    >
    <button class="text-xs" (click)="addToCart()">Add To Cart</button>
  </div>
</div>
<!--open modal-->
<app-modal [isOpen]="openModal">
  <p>
    Item is now added to your
    <span class="text-secondary font-bold">cart</span>!
  </p>
  <button routerLink="/cart">shopping cart</button>
  <!---->
</app-modal>
