/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-bg-main relative;
  }
  button {
    font-family: "Poppins", sans-serif;
    @apply text-white bg-primary border-0 py-2 px-5 rounded-lg text-sm;
  }
  ul {
    list-style: none;
  }
  a {
    @apply cursor-pointer text-textLight hover:underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-gray-800;
  }
  h3 {
    @apply font-bold;
  }
}
@layer components {
  .resp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .error {
    @apply bg-red-100 p-3 rounded-md shadow-sm shadow-red-300 w-fit text-red-800;
  }
}
