/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-bg-main relative;
  }
  button {
    font-family: "Poppins", sans-serif;
    @apply transition text-white bg-primary border-0 py-2 px-5 rounded-lg text-sm hover:bg-transparent hover:outline hover:outline-1  hover:text-black;
  }

  ul {
    list-style: none;
  }
  a {
    @apply cursor-pointer text-textLight hover:underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-gray-800;
  }
  h3 {
    @apply font-bold;
  }
  label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  input,
  textarea {
    padding: 8px 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3px;
    @apply text-textLight text-sm;
  }
}
@layer components {
  .resp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .error {
    @apply bg-red-100 p-3 rounded-md shadow-sm shadow-red-300 w-fit text-red-800;
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  .form {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: white;
    width: 456px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 33px;
    height: 100%;
  }
  .ng-invalid {
    border: 1px solid red !important;
  }
}
